@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* because MUI drawer is tracking scrollbar size and it breaks the layout */
html,
body {
  overflow-x: hidden !important;
}
